/data/
/output/
/{{cat girl}}, {{{{1girl}}}}, gothic lolita, twintails, head tilt, white hair, red eyes, expressionless, dress lift, {{stockings}}, lace panties, {{{realistic}}}, {{{photorealistic}}}, looking at viewer, narro/
/logs/

/go-cqhttp_darwin_amd64/
