version: "3.6"

services:

  novel_ai:
    build:
      dockerfile: Dockerfile
      context: ./
    image: kykira/noval_ai_build
    restart: always
    environment:
      NAI_USERNAME: '2015667807@qq.com'
      NAI_PASSWORD: 'asd5929488'
      NAI_IMG_GEN_ENDPOINT: 'https://api.novelai.net/ai/generate-image'
      NAI_SUB_ENDPOINT: 'https://api.novelai.net/user/subscription'
    network_mode: host
    command: [ '/app/start.sh' ]
    volumes:
      - .:/app
      - ./log:/path/app/log